n8n-examples/deploy-webhook.json
{
  "name": "Coolify Deploy Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "coolify-deploy",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "coolify-deploy"
    },
    {
      "parameters": {
        "url": "https://coolify.theprofitplatform.com.au/api/v1/applications/={{$json[\"app_id\"]}}/deploy",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_COOLIFY_API_TOKEN_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "force_rebuild",
              "value": "={{$json[\"force_rebuild\"] || false}}"
            },
            {
              "name": "commit_sha",
              "value": "={{$json[\"commit_sha\"] || \"\"}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Deploy Application",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Deploy Application", "type": "main", "index": 0 }]]
    },
    "Deploy Application": {
      "main": [[{ "node": "Response", "type": "main", "index": 0 }]]
    }
  }
}
