n8n-examples/health-monitor.json
{
  "name": "Coolify Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://coolify.theprofitplatform.com.au/api/v1/applications",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED***"
            }
          ]
        },
        "options": {}
      },
      "name": "Get Applications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "functionCode": "const apps = items[0].json;\nconst downApps = apps.filter(app => app.status !== 'running');\n\nif (downApps.length > 0) {\n  return downApps.map(app => ({\n    json: {\n      app_id: app.id,\n      app_name: app.name,\n      status: app.status,\n      message: `⚠️ Application ${app.name} is ${app.status}`\n    }\n  }));\n}\n\nreturn [];"
      },
      "name": "Check Health",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://coolify.theprofitplatform.com.au/api/v1/applications/={{$json[\"app_id\"]}}/restart",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***REMOVED***"
            }
          ]
        },
        "options": {}
      },
      "name": "Auto Restart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 250]
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "={{$json[\"message\"]}}",
        "otherOptions": {}
      },
      "name": "Alert Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [850, 350]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[{ "node": "Get Applications", "type": "main", "index": 0 }]]
    },
    "Get Applications": {
      "main": [[{ "node": "Check Health", "type": "main", "index": 0 }]]
    },
    "Check Health": {
      "main": [
        [
          { "node": "Auto Restart", "type": "main", "index": 0 },
          { "node": "Alert Team", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
